body{margin: 0; padding: 0;}

*{margin: 0; padding: 0; box-sizing: border-box;}

.btn-light {
    color: #212529;
    background-color: #ffffff;
    border-color: #e2e2e2;
}

.btn-light:first-child {
    margin-left: 17px;
    background: #ffeadb;
    border:1px solid #f4aa74;
}
.bigFont{font-size: 1.1em;}

.container{margin: 0; padding:0;}
.loginForm{
    background-image: url("../images/background.jpg");
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
div.transbox {
    background-color:#2e72bb;
    border: 1px solid black;
    opacity: .6;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.box{
    max-width: 100%;
    height: 100vh;
   padding-left: 0;
   padding-right: 0;
   display: flex;
   align-items: center;
}

.loginForm-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
    visibility: visible;
}

.loginForm-left input{
    border: none;
    border-radius: 5px;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #1e95f5;
    cursor: pointer;
}

.loginForm-right{
    background: #f5f6fa;
    padding:25px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: 9%;
    margin-top: 25%;
}


.loginForm-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.loginForm-left p{
    font-weight: lighter;
    padding: 12%;
    font-size: 20px;
}
.loginForm .loginForm-form{
    padding:0 4%;
    margin-top: 5%;
}
.btnloginForm{
    float: LEFT;
    border: none;
    border-radius: 5px;
    padding: 2%;
    background: #ee6a29;
    color: #fff;
    font-weight: 600;
    width: 70%;
    cursor: pointer;
}
.loginForm .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.loginForm .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.loginForm .nav-tabs .nav-link:hover{
    border: none;
}
.loginForm .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
  
.loginForm-heading{
    text-align: center;
    color: #495057;
   
}
.form-group {margin-bottom: 0.1rem;}
.navbar-toggler{font-size: 1rem; padding: .15rem .55rem  !important;}

/* user form*/

.login-form {
    width: 100%;

  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 0 30px 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.login-form .hint-text {
    color: #777;
    padding-bottom: 15px;
    text-align: center;
  	font-size: 13px; 
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-btn {        
    font-size: 15px;
    font-weight: bold;
}
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}
.social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left; 
    line-height: 24px;       
}
.social-btn .btn i {
    float: left;
    margin: 4px 15px  0 5px;
    min-width: 15px;
}
.input-group-addon .fa{
    font-size: 18px;
}

.modal-content{background: #f7f7f7;}









/* side meu */

@keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes sonar {
    0% {
      transform: scale(0.9);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  body {
    font-size: 0.9rem;
  }
  
  
  .page-wrapper .sidebar-wrapper,
  .sidebar-wrapper .sidebar-brand > a,
  .sidebar-wrapper .sidebar-dropdown > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
  .sidebar-wrapper ul li a i,
  .page-wrapper .page-content,
  .sidebar-wrapper .sidebar-search input.search-menu,
  .sidebar-wrapper .sidebar-search .input-group-text,
  .sidebar-wrapper .sidebar-menu ul li a,
  #show-sidebar,
  #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  /*----------------page-wrapper----------------*/
  

  
 
  

  
  /*----------------toggeled sidebar----------------*/
  
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
      padding-left: 260px;
    }
  }
  /*----------------show sidebar button----------------*/
  #show-sidebar {
    position: fixed;
    left: 0;
    top: 94px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 9;
  }
  .page-wrapper.toggled #show-sidebar {
    left: -40px;
  }
  /*----------------sidebar-wrapper----------------*/
  
  .sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
  }
  
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-wrapper a {
    text-decoration: none;
  }
  
  /*----------------sidebar-content----------------*/
  
  .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
  }
  
  .sidebar-content.desktop {
    overflow-y: hidden;
  }
  
  /*--------------------sidebar-brand----------------------*/
  .bg-dark{background: #15a0a0 !important;
   box-shadow: 0 8px 6px -6px #111d1d;
   border-bottom: 1px solid #2ad8d8;
  }
  
  .sidebar-wrapper .sidebar-brand {
    padding: 13px 10px;
    display: flex;
    align-items: center;
    background: #366ea5;
    
  }
  
  .sidebar-wrapper .sidebar-brand > a {
   
    font-weight: normal;
    flex-grow: 1;
    font-size: 1.25rem;
    
  }
  
  .sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
  }
  /*--------------------sidebar-header----------------------*/
  
  .sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
  }
  
  .sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
  }
  
  .sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .sidebar-wrapper .sidebar-header .user-info {
    float: left;
  }
  
  .sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
  }
  
  /*-----------------------sidebar-search------------------------*/
  
  .sidebar-wrapper .sidebar-search > div {
    padding: 10px 10px; 
  }
  
  /*----------------------sidebar-menu-------------------------*/
  
  .sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
  }
  
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 10px 5px 10px;
    display: inline-block;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 0px 8px 10px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 5px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 7px;
    top: 14px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a span.label,
  .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 9px;
  }
  
  /*--------------------------side-footer------------------------------*/
  
  .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
  }
  
  .sidebar-footer > a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
  }
  
  .sidebar-footer > a .notification {
    position: absolute;
    top: 0;
  }
  
  .badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
  }
  
  .badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
  }
  
  /*--------------------------page-content-----------------------------*/
  
  .page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    margin-top:50px;
  }
  
  .page-wrapper .page-content > div {
    padding: 20px 40px;
  }
  
  .page-wrapper .page-content {
    overflow-x: hidden;
  }
  
  /*------scroll bar---------------------*/
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #1cd8d8;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  
  /*-----------------------------chiller-theme-------------------------------------------------*/
  
  .chiller-theme .sidebar-wrapper {
      background: #366ea5;
      z-index: 120000;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-header,
  .chiller-theme .sidebar-wrapper .sidebar-search,
  .chiller-theme .sidebar-wrapper .sidebar-menu {
      border-top: 1px solid #71a5d8;;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
      border-color: transparent;
      box-shadow: none;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .chiller-theme .sidebar-wrapper .sidebar-brand>a,
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
  .chiller-theme .sidebar-footer>a {
      color: #ffffff;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
  .chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
  .chiller-theme .sidebar-footer>a:hover i {
      color: #ffffff;
  }
  
  .page-wrapper.chiller-theme.toggled #close-sidebar {
      color: #ffffff;
  }
  
  .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
      color: #ffffff;
  }
  
  .chiller-theme .sidebar-wrapper ul li:hover a i,
  .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
      color: #ffc107;
      text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #71a5d8;
    border: 1px solid #366ea5;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
      color: #ffffff;
  }
  
  .chiller-theme .sidebar-footer {
    background: #71a5d8;
    box-shadow: 0px -1px 5px #246f6f;
    border-top: 1px solid #dae1e8;
    padding: 5px 0 0 0;
  }
  
  .chiller-theme .sidebar-footer>a:first-child {
      border-left: none;
  }
  
  .chiller-theme .sidebar-footer>a:last-child {
      border-right: none;
  }
  
  .btn-dark {
    color: #fff;
    background-color: #e08454;
    border-color: #f1b596;
  }
  
  .sidebar-search ::placeholder { /* Firefox, Chrome, Opera */ 
          color: white !important; 
      } 
        
  .sidebar-search :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
          color: white; 
      } 
        
  .sidebar-search ::-ms-input-placeholder { /* Microsoft Edge */ 
          color: white; 
      }
  
  
    /* topbar fixed */
  
  .fixed-top{z-index: 9000;}

  .editIcon i, .deleteIcon i{
  font-size: 14px;
  text-align: center;
    }
  
  .editIcon i{color:#15a0a0;} 
  .deleteIcon i{color:#ea2a2a;} 
  
    /*  topbar fixed end*/  
  
  
    /*--------------------------form with file page------------------------------*/
  
    .input-group-text {margin-top:8px;}
    .form-bg{    
      background: #f7f7f7;
      border: 1px solid #e8e3e3;
      padding: 10px;
      border-radius:.25rem;
      -webkit-border-radius:.25rem;
      -moz-border-radius:.25rem;
    }
    .custom-file-label::after{background-color: #15a0a0;color:#ffffff;}
    .gj-picker-bootstrap table tr td.today div {
      color: #ffffff;
      font-weight: 700;
      background: #15a0a0;
      border-radius: 4px;
  
  }
  
  .gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
      color: #fff;
      background-color: #138e8e;
      background: #15a0a0;
      border-radius: 4px
  }
  .gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
    color: #15a0a0;
  }
  .searchTable{width: 30%; float:right;}
  .pagination.pg-teal .page-item.active .page-link {background-color: #2bbbad;}
   .page-link {color: #1d756d;}
   .page-item.active .page-link {border-color: #15a0a0;}
  
  
  
  @media (min-width: 320px) { 
    .searchTable{width: 100%;}
  
   }
  
  


/* side menu icon */






@media only screen and (min-width: 1200px) {
    .loginForm-heading{font-size: 1.75em  !important;} 
    .btn-light{ margin: 0 8px 1em  !important;font-weight: bold  !important; font-size: 1rem !important;  padding: .375rem 0.76rem  !important;}
    .btn-light:first-child {margin-left: 17px !important;}
    .loginForm-right{ margin-top: 14% !important;}
    .loginForm-left p{padding: 5% 2% !important; font-size: 20px !important}
    .box{height: 100vh;}
    .loginForm-left input{padding: 2%;width: 60%;}
    .loginForm-left h2 {font-size: 1.8rem !important; padding-top: 0%;}
    .box{align-items: center;}
}

@media only screen and (min-width: 280px) {
    .loginForm-heading{font-size: 1em;} 
    .btn-light{ margin: 0 1px 1em;font-weight: normal; font-size: 0.7rem;padding: .375rem 0.36rem;}
    .btnloginForm{width: 100%;}
    .form-group {margin-bottom: 0.4rem;}
    .box{  align-items: flex-start;}
    .loginForm-right{ padding: 12px 0;}
}
@media only screen and (min-width: 320px) {
    .loginForm-heading{font-size: 1em;} 
    .btn-light{ margin: 0 2px 1em;font-weight: normal; font-size: 0.7rem;padding: .375rem 0.46rem;}
    .btnloginForm{width: 100%;}
    .form-group {margin-bottom: 0.5rem;}
    .box{  align-items: flex-start;}
}


@media only screen and (min-width: 360px) {
    .loginForm-heading{font-size: 1.1em;} 
    .btn-light{ margin: 0 3px 1em;font-weight: normal; font-size: 0.8rem; padding: .375rem 0.52rem;}
    .loginForm-right{ margin-top: 22%;}
    .btnloginForm{width: 100%;}
    .form-group {margin-bottom: 0.5rem;}
    .box{  align-items: flex-start;}
}

@media only screen and (min-width: 375px) {
    .loginForm-heading{font-size: 1.1em;} 
    .btn-light{ margin: 0 4px 1em;font-weight: normal; font-size: 0.8rem;padding: .375rem 0.52rem;}
    .loginForm-right{ margin-top: 22%;}
    .btnloginForm{width: 100%;}
    .form-group {margin-bottom: 0.6rem;}
    .box{  align-items: flex-start;}
}

@media only screen and (min-width: 411px) {
    .loginForm-heading{font-size: 1.1em;} 
    .btn-light{ margin: 0 4px 1em;font-weight: normal; font-size: 0.8rem;padding: .375rem 0.52rem;}
    .loginForm-right{ margin-top: 19%; margin-left: 7%;padding: 12px 0;}
    .btnloginForm{width: 100%;}
    .form-group {margin-bottom: 0.6rem;}
    .box{  align-items: flex-start;}
}


@media only screen and (min-width: 414px) {
    .loginForm-heading{font-size: 1.1em;} 
    .btn-light{ margin: 0 3px 1em;font-weight: normal; font-size: 1rem;padding: .375rem 0.53rem;}
    .loginForm-right{ margin-top: 19%; margin-left: 7%;}
    .btnloginForm{width: 100%;}
    .form-group {margin-bottom: 0.6rem;}
    .box{  align-items: flex-start;}
}

@media only screen and (min-width: 768px) {
    .loginForm-heading{font-size: 1.1em;} 
    .btn-light{ margin: 0 8px 1em;font-weight: normal; font-size: 1.2rem; padding: .375rem 0.95rem;}
    .loginForm-right{ margin-top: 0; margin-left: 0; margin:0 15px;}
    .loginForm-left p{padding: 0 2% !important;font-size: 18px;}
    .box{height: 80vh;}
    .loginForm-left input{padding: 1%;width: 30%;}
    .loginForm-left h2 {font-size: 1.3rem; padding-top: 6%;}
    .btnloginForm{width:70%;}
    .form-group {margin-bottom: 1rem;}
}

@media only screen and (min-width: 1024px) {
    .loginForm-heading{font-size: 1.2em;} 
    .btn-light{ margin: 0 4px 1em;font-weight: normal; font-size: 1rem;padding: .375rem 0.75rem;}
    .loginForm-right{ margin-top: 0; margin-left: 0; margin:0 15px;}
    .loginForm-left p{padding: 0 2% !important;font-size: 18px;}
    .box{height: 100%;align-items: center;}
    .loginForm-left input{padding: 1%;width: 30%;}
    .loginForm-left h2 {font-size: 1.3rem; padding-top: 5%;}
    .btnloginForm{width:70%;}
    .form-group {margin-bottom: 1rem;}
}